<%- include ../partials/head.ejs %>
</head>
<body>
  <%- include ../partials/header.ejs %>
  <div class="container mt-5">
    <div class="jumbotron pt-2 pb-2">
      <h1>About Mumbai Margdarshan</h1>
    </div>
  </div>
<%- include ../partials/footer.ejs %>