<%- include ../partials/head.ejs %>
</head>
<body>
  <%- include ../partials/header.ejs %>
  <div class="container">
    <div class="jumbotron mt-5">
      <h1><%= title %></h1>
    </div>
    <div class=" text-center" style="height: 50vh;">
      <h1 class="mt-5"><i class="fas fa-exclamation-triangle mt-2" style="font-size: 9rem"></i></h1>
      <h3 class="mt-5">There is nothing here</h3>
      <h2 class="">Keep exploring</h2>
      <form action="/search-route" method="GET">
        <button class="btn btn-lg btn-success mt-3" style="background-color: #9068be;">Explore</button>
      </form>
    </div>
  </div>
  <%- include ../partials/footer.ejs %>